/* * {
	margin: 0;
	padding: 3px;
	box-sizing: border-box;
} */
.main {
	width: 700px;
	height: 90vh;
	overflow-y: scroll;
	padding: 1rem;
}
.lesson {
	width: 90%;
	margin: auto;
	height: 290px;
	background-color: rgb(13, 13, 46);
	color: white;
	display: flex;
	flex-direction: column;
	border-radius: 6px;
	margin-top: 1rem;
	gap: 1rem;
	align-items: left;
	justify-content: center;
	padding: 1rem;
}
.lesson span {
	font-weight: 900;
	color: rgb(111, 148, 152);
}
.flexContain {
	width: 100% !important;
	display: flex;
	justify-content: space-around;
	align-items: center;
}